.text
{
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 14px;
}
.item__price
{
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
}
.item__info__city
{
  display: flex;
  font-size: 13px;
  color: var(--color-grey);
  margin-top: 20px;
}
.product-link:hover
{
  color: var(--color-red);
}
.item__info__city span
{
  display: flex;
  margin-right: 6px;
}
