.sign-in
{
  padding: 6px 12px;
  height: 28px;
  background-color: var(--color-millionum-green);
  border: none;
  color: var(--color-white);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.dropdown-sign-in__content
{
  width: 88px;
  position: absolute;
  top: 33px;
  background-color: var(--color-millionum-green);
  border-radius: 4px;
  padding: 0 12px;
  height: 0px;
  overflow: hidden;
  transition: all .25s;
}
.dropdown-sign-in__content li
{
  border-bottom: 1px solid white;
}
.dropdown-sign-in__content li:last-child
{
  border-bottom: none;
}
.sign-in__title
{
  display: block;
  color: var(--color-white);
  font-size: 13px;
  padding: 4px;
}