.copyright
{
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    padding-top: 23px;
}
.copyright--theme-gs1-color-ui-6
{
    color: var(--gs1-color-ui-6);
    border-top: 1px solid var(--color-millionum-green)
}
.copyright__text
{
    font: normal 500 12px/16px 'Gotham Office', 'Verdana', sans-serif;
}
.copyright__info
{
    font: normal 500 12px/16px 'Gotham Office', 'Verdana', sans-serif;
}
.copyright__link
{
    text-decoration: none;
    color: var(--color-millionum-green);
}
.copyright__link:hover
{
    text-decoration: underline;
}
@media (max-width: 600px)
{
    .copyright
    {
        flex-wrap: wrap;
    }
    .copyright__info
    {
        margin-top: 30px;
    }
}