.news
{
    padding: 60px 0px 160px;
    background-color: var(--color-light-green);
    position: relative;
    margin-bottom: 60px;
}

.swiper__header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper__header a
{
    color: var(--color-millionum-green);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.swiper__header a:hover
{
    color: var(--color-red);
}

.template__wrapper-news
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.news-slider__arrows-outer 
{
    position: absolute;
    z-index: 1;
    bottom: 60px;
}

.news__swiper {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.swiper__back-gradient
{
    position: relative;
}
.swiper__back-gradient::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(34, 34, 34, 0.00) 0%, #222 100%);
    width: 100%;
    height: 100%;
}
.news-item-title
{
    position: absolute;
    bottom: 50px;
    left: 20px;
    color: var(--color-white);
    z-index: 100;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.news-item-date
{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--color-white);
    z-index: 100;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}