.products
{
  padding: 60px 0px 160px;
  position: relative;
}
.product__swiper {
  width: 100%;
  overflow: hidden;
}
.product
{
  height: 400px !important;
  display: flex;
  align-items: stretch;
  padding: 10px;
  border: 2px solid var(--color-border);
  box-shadow: 0 2px 8px 0 rgba(102,163,238,.08);
  border-radius: 4px;
}
.product-slider__arrows-outer
{
  position: absolute;
  z-index: 1;
  bottom: 60px;
}
.base-slider-arrows__arrow--type-next-product
{
  margin-left: 23px;
}
.base-slider-arrows__arrow--type-next-factory
{
  margin-left: 23px;
}
.swiper-image
{
  display: flex;
  margin-bottom: 30px;
  min-height: 200px;
  max-height: 200px;
}
.card-link
{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  color: var(--color-millionum-green);
}
.product-description
{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}